.container{ 
    // border: 2px solid black;
    height: 285px;
    background-color: #e8f5f8;
}

.subHeader{
    background-color:lightseagreen;
    font-family:'Quicksand';
    height: 60px;
    text-align: center;
    padding: 10px;
    margin-top: -21px;
    color: white;
}

.leftText{ 
    height: 100px;
    width: 200px;
    border: 2px solid #000000ea;
    text-align: center;
}