.allCards{ 
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid black;
    height: 490px;
    background-image: url("./Assets/Grass.png");
    background-size: contain;
    // background-repeat: no-repeat;
}